<a class="user-min-info left row black-text" href="/UserPage/?userName={{user.userName}}">
    <div class="col m3">
        <img *ngIf="user != null && user.avatar ! null" class="circle responsive-img" src="{{user.avatar}}">
        <img *ngIf="user == null || user != null && user.avatar == null" class="circle responsive-img" src="/images/default-user.png">
    </div>
    <div class="col m9 left-align">
        <span *ngIf="user != null">
            {{user.userName}}<br />
            <ng-container *ngIf="user.awards != null">
                <span *ngFor="let award of user.awards" class="center-align award-icon small-award">
                    <img src="{{awardService.getAwardImage(award.type)}}"/>
                    <span class="grey-text text-lighten-2"><b>{{award.level}}</b></span>
                </span>
            </ng-container>
        </span>
        <span *ngIf="user == null"><i>Deleted user</i></span>
    </div>
</a>