<div *ngIf="project != null" class="project">
    <div class="card">
        <div class="card-image">
            <img src="{{project.imageUrl}}">
            <div class="card-title left-align">
                <h1>{{project.name}}</h1>
                <h6><rating [(ngModel)]="project.rating" (ngModelChange)="updateRating()"
                            [titles]="['one', 'two', 'three', 'four', 'five']"></rating></h6>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m3">
            <h5>Project status: <projectstatus [status]="project.status"></projectstatus></h5>
        </div>
        <div class="col m3">
            <h5>Payed amount: {{project.paidAmount}}$</h5>
        </div>
        <div class="col m3">
            <h5>Count of payments: {{project.countOfPayments}}</h5>
        </div>
        <div class="col m3 right-align" *ngIf="storage.isReadyCurrentUser && storage.isUser && project != null">
            <div *ngIf="project.owner.userName != storage.currentUser.userName">
                <button *ngIf="!project.isSubscriber" class="btn" (click)="subscribe()">Subscribe</button>
                <button *ngIf="project.isSubscriber" class="btn" (click)="unsubscribe()">Unsubscribe</button>
            </div>
            <button class="btn" *ngIf="project.fundRaisingEnd <= timeService.getNowTime()">Pay</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col m6">
            <usermininfo [user]="project.owner"></usermininfo>
        </div>
        <div class="col m6 right-align" *ngIf="storage.isReadyCurrentUser && project != null && (storage.isAdmin || project.owner.userName == storage.currentUser.userName)">
            <button class="btn btn-icon modal-trigger" href="#newsModal">
                <i class="material-icons">library_books</i>
            </button>
            <a class="btn btn-icon" href="/ProjectEditorPage/{{project.id}}">
                <i class="material-icons">edit</i>
            </a>
            <newsformmodal [projectId]="project.id" (onAdded)="addNews($event)"></newsformmodal>
        </div>
    </div>

    <div class="row" *ngIf="project.description != null">
        <div class="col m12">
            <h5 class="center-align">Description</h5>
            <markdown>{{project.description}}</markdown>
        </div>
    </div>
    
    <div class="row">
        <div class="col m12">
            <h5 class="center-align">Financial purposes</h5>
            <financialpurposes [(financialPurposes)]="project.financialPurposes" [canChange]="false"></financialpurposes>
        </div>
    </div>

    <div class="row" *ngIf="project.news.length > 0">
        <div class="col m12">
            <h5 class="center-align">News</h5>
            <news [someNews]="project.news" [canChange]="storage.isReadyCurrentUser && (project.owner.userName == storage.currentUser.userName || storage.isAdmin)"></news>
        </div>
    </div>


    <div class="row">
        <div class="col m12">
            <comments [comments]="project.comments" [projectId]="project.id" [projectOwnerUserName]="project.owner.userName"></comments>
        </div>
    </div>
    
    <div class="row">
        <div class="chip" *ngFor="let tag of project.tags">
            {{tag}}
        </div>
    </div>
</div>