<div *ngIf="storage.isReadyCurrentUser">
    <h2>Search result</h2>
    <div class="row">
        <div class="col m4" *ngFor="let project of projects">
            <projectitem [project]="project" (onClickNews)="openNewsModal($event)" (onClickPay)="openPayment($event)"
                         (onClickSubscribe)="subscribe($event)" (onClickUnsubscribe)="unsubscribe($event)"></projectitem>
        </div>
    </div>
    <newsformmodal [projectId]="selectedProjectId"></newsformmodal>
    <paymentmodal [projectId]="selectedProjectId"></paymentmodal>-->
</div>