<div *ngIf="storage.isReadyCurrentUser" class="body-content container">
    <div class="center-align">
        <h2>{{translations['SEARCHRESULTS']}}</h2>
        <h6 *ngIf="isReady && projects.length === 0">
            Поиск не дал результатов
        </h6>
        <h6 *ngIf="isReady && projects.length != 0">
            Найдено {{projects.length}} проектов
        </h6>
    </div>
    <br/>
    <div *ngIf="isReady && projects.length != 0">
        <projectitemcollection [projects]="projects" (selectedProjectIdNews)="this.selectedProjectId = $event" (selectedProjectIdPayment)="this.selectedProjectId = $event"></projectitemcollection>
        <newsformmodal [projectId]="selectedProjectId"></newsformmodal>
        <paymentmodal [projectId]="selectedProjectId"></paymentmodal>
    </div>
    <div *ngIf="!isReady" class="center-align">
        <preloader></preloader>
    </div>
</div>