<div class="row">
    <div class="col m12">
        <div class="file-field input-field">
            <div class="btn">
                <span>{{translations['BROWSE']}}</span>
                <input id="confirmation-passportScan" class="validate" required type="file" (change)="onChange($event)" accept="image/*"/>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="{{fieldName}}"/>
            </div>
        </div>
    </div>
</div>