<div id="confirmationModal" class="modal register-modal">
    <div class="modal-content center">
        <h4>Confirm your account</h4>

        <div class="input-field">
            <input id="confirmation-passportScan" class="validate" required [(ngModel)]="confirmationForm.passportScan" type="text" />
            <label for="confirmation-passportScan">Passport scan</label>
        </div>
        <div class="input-field">
            <input id="confirmation-name" class="validate" required type="text" [(ngModel)]="confirmationForm.name" />
            <label for="confirmation-name">Name</label>
        </div>
        <div class="input-field">
            <input id="confirmation-surname" class="validate" required [(ngModel)]="confirmationForm.surname" type="text" />
            <label for="confirmation-passportScan">Passport scan</label>
        </div>
        <div class="input-field">
            <input id="confirmation-description" type="text" [(ngModel)]="confirmationForm.description" />
            <label for="confirmation-description">Description</label>
        </div>

        <div class="input-field">
            <button [disabled]="confirmationForm.passportScan == null || confirmationForm.name == null || confirmationForm.surname == null"
                    class="btn" (click)="onSubmit()">Send</button>
        </div>

        <div class="red-text input-field row">
            <div *ngIf="isWrongRequest">
                Invalid data
            </div>
        </div>
    </div>
</div>