<div id="confirmationModal" class="modal register-modal">
    <div class="modal-content center">
        <h4>{{translations['ConfirmYourAccount']}}</h4>
        
        <imageloader (emitter)="onChange($event)" [fieldName]="translations['PASSPORTSCAN']"></imageloader>
        <div class="input-field">
            <input id="confirmation-name" class="validate" required type="text" [(ngModel)]="confirmationForm.name" (keyup.enter)="onSubmit()"/>
            <label for="confirmation-name">{{translations['NAME']}}</label>
        </div>
        <div class="input-field">
            <input id="confirmation-surname" class="validate" required [(ngModel)]="confirmationForm.surname" type="text" (keyup.enter)="onSubmit()"/>
            <label for="confirmation-surname">{{translations['SURNAME']}}</label>
        </div>
        <div class="input-field">
            <input id="confirmation-description" type="text" [(ngModel)]="confirmationForm.description" (keyup.enter)="onSubmit()"/>
            <label for="confirmation-description">{{translations['DESCRIPTION']}}</label>
        </div>

        <div class="input-field">
            <button [disabled]="confirmationForm.passportScan == null || confirmationForm.name == null || confirmationForm.surname == null ||
                    confirmationForm.passportScan === '' || confirmationForm.name === '' || confirmationForm.surname === ''"
                    class="btn" (click)="onSubmit()">{{translations['SEND']}}</button>
        </div>
        
        <errortext *ngIf="isWrongRequest" [text]="translations['INVALIDDATA']"></errortext>
    </div>
</div>