<ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
    <li *ngFor="let news of someNews; let i = index" class="collection-item">
        <div class="collapsible-header" [class.active]="i == 0">
            <i class="material-icons">filter_drama</i>{{news.subject}} {{timeService.getFormatDate(news.time)}}
            <i class="material-icons right" (click)="delete(news)">close</i>
        </div>
        <div class="collapsible-body">
            <markdown>{{news.text}}</markdown>
        </div>
    </li>
</ul>