<ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
    <li *ngFor="let news of someNews; let i = index">
        <div class="collapsible-header display" [class.active]="i == 0">
            <div class="col m8 left-align">
                <div class="row">
                    <span class="collapsible-title">{{news.subject}}    </span>
                    <span *ngIf="viewProjectName" class="grey-text">
                        from project <a href="/ProjectPage/{{news.projectInfo.id}}" class="collapsible-title grey-text">{{news.projectInfo.name}}</a>
                    </span> 
                </div>
            </div>
            <div class="col m4 right-align">
                {{timeHelper.getFormatDate(news.time)}}
                <i *ngIf="canChange" class="material-icons right" (click)="delete(news)">close</i>
            </div>
        </div>
        <div class="collapsible-body">
            <div [froalaView]="news.text"></div>
        </div>
    </li>
</ul>