<div id="newsModal" class="modal news-modal">
    <div class="modal-content center container">
        <h4>{{translations['CREATENEWS']}}</h4>

        <div class="row">
            <div class="input-field col m11">
                <input id="news-subject" #subject="ngModel" class="validate" required [(ngModel)]="newsForm.subject" type="text"/>
                <label for="news-subject">{{translations['SUBJECT']}}</label>
            </div>
        </div>

        <markdowneditor [fieldName]="translations['NEWSTEXT']" [text]="newsForm.text" (onChanged)="newsForm.text = $event"></markdowneditor>
        
        <div class="row">
            <div class="col m6 input-field right-align">
                <button [disabled]="subject.invalid || newsForm.text == null || newsForm.text == '' || !(isNews || isMailingToSubscribers || isMailingToPayers)"
                        class="btn btn-large" (click)="onSubmit()">{{translations['CREATE']}}</button>
            </div>
            <div class="col m6 left-align">
                <input type="checkbox" id="news" [(ngModel)]="isNews"/>
                <label for="news">{{translations['JUSTNEWS']}}</label>
                <input type="checkbox" id="mailing-subscribers" [(ngModel)]="isMailingToSubscribers" />
                <label for="mailing-subscribers">{{translations['MAILINGSUBSCRIBERS']}}</label>
                <input type="checkbox" id="mailing-payers" [(ngModel)]="isMailingToPayers" />
                <label for="mailing-payers">{{translations['MAILINGPAYERS']}}</label>
            </div>
        </div>

        <errortext *ngIf="isWrongRequest" [text]="translations['INVALIDDATA']"></errortext>
    </div>
</div>