<h2 *ngIf="isAdmin">Admin page</h2>
<table class="responsive-table highlight" *ngIf="isAdmin">
    <thead>
    <tr>
        <th>Username</th>
        <th>Status</th>
        <th>Registration time</th>
        <th>Last login time</th>
        <th>Project number</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userInfos">
        <td>{{user.username}}</td>
        <td>{{user.status}}</td>
        <td>{{user.registrationTime}}</td>
        <td>{{user.lastLoginTime}}</td>
        <td>{{user.projectNumber}}</td>
        <td>{{user.raiting}}</td>
    </tr>
    </tbody>
</table>
<errorpage *ngIf="!isAdmin"></errorpage>