<nav role="navigation">
    <div class="nav-wrapper container">
        <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down row">
            <li class="col m4 left">
                <a id="logo-container" href="/" class="brand-logo">Course work</a>
            </li>
            <li class="col m4 center-align">
                <searcher></searcher>
            </li>
            <li class="col m4 right-align" *ngIf="storage.isReadyCurrentUser && storage.isUser">
                <a id="dropdown-nav-button" materialize="dropdown" class='dropdown-button right-align nav-user-info' href='#' data-activates='dropdown-nav'>
                    <span class="user-min-info user right">
                        <img *ngIf="storage.currentUser != null && storage.currentUser.avatar ! null" class="circle responsive-img" 
                             src="{{storage.currentUser.avatar}}">
                        <img *ngIf="storage.currentUser == null || storage.currentUser != null && storage.currentUser.avatar == null" 
                             class="circle responsive-img" src="/images/default-user.png">
                        <span>{{storage.currentUser.userName}}<i class="material-icons right">arrow_drop_down</i></span>
                    </span>
                </a>
            </li>
            <li class="right" *ngIf="storage.isReadyCurrentUser && !storage.isUser">
                <a *ngIf="storage.isReadyCurrentUser && !storage.isUser" href="#registrationModal" class="modal-trigger">{{translations['Register']}}</a>
            </li>
            <li class="right" *ngIf="storage.isReadyCurrentUser && !storage.isUser">
                <a href="#loginModal" class="modal-trigger">{{translations['LogIn']}}</a>
            </li>
        </ul>

        <ul id='dropdown-nav' class='dropdown-content'>
            <li *ngIf="storage.isReadyCurrentUser && storage.isAdmin">
                <a href="/AdminPage"><i class="material-icons left">group</i> {{translations['AdminPage']}}</a>
            </li>
            <li *ngIf="storage.isReadyCurrentUser && storage.isAdmin" class="divider"></li>
            <li *ngIf="storage.isReadyCurrentUser && storage.isUser">
                <a href="/UserPage"><i class="material-icons left">home</i> {{translations['MyPage']}}</a>
            </li>
            <li *ngIf="storage.isReadyCurrentUser && storage.isConfirmedUser">
                <a href="/UserProjectsPage"><i class="material-icons left">collections</i>{{translations['MYPROJECTS']}} </a>
            </li>
            <li class="divider"></li>
            <li *ngIf="storage.isReadyCurrentUser && storage.isUser">
                <a (click)="logout()"><i class="material-icons left">directions_run</i> {{translations['LogOut']}}</a>
            </li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li><searcher></searcher></li>
            <li *ngIf="storage.isReadyCurrentUser && !storage.isUser">
                <a *ngIf="storage.isReadyCurrentUser && !storage.isUser" href="#registrationModal" class="modal-trigger">{{translations['Register']}}</a>
            </li>
            <li *ngIf="storage.isReadyCurrentUser && !storage.isUser">
                <a href="#loginModal" class="modal-trigger">{{translations['LogIn']}}</a>
            </li>
            <li *ngIf="storage.isReadyCurrentUser && storage.isAdmin">
                <a href="/AdminPage"><i class="material-icons left">group</i> {{translations['AdminPage']}}</a>
            </li>
            <li *ngIf="storage.isReadyCurrentUser && storage.isAdmin" class="divider"></li>
            <li *ngIf="storage.isReadyCurrentUser && storage.isUser">
                <a href="/UserPage"><i class="material-icons left">home</i> {{translations['MyPage']}}</a>
            </li>
            <li *ngIf="storage.isReadyCurrentUser && storage.isConfirmedUser">
                <a href="/UserProjectsPage"><i class="material-icons left">collections</i> {{translations['MYPROJECTS']}}</a>
            </li>
            <li class="divider"></li>
            <li *ngIf="storage.isReadyCurrentUser && storage.isUser">
                <a (click)="logout()"><i class="material-icons left">directions_run</i> {{translations['LogOut']}}</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <router-outlet></router-outlet>
    <floatingbutton></floatingbutton>
</main>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <languageselector></languageselector>
                <colorselector></colorselector>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2017 - CourseWork
        </div>
    </div>
</footer>
    
<div *ngIf="storage.isReadyCurrentUser && storage.isJustUser">
    <confirmationmodal></confirmationmodal>
</div>


<div *ngIf="storage.isReadyCurrentUser && !storage.isUser">
    <registermodal></registermodal>
    <loginmodal></loginmodal>
</div>
