<ul id="project-financialPurposes" materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
    <li *ngFor="let financialPurpose of financialPurposes">
        <div class="collapsible-header" [class.grey]="financialPurpose.isReached" [class.lighten-1]="financialPurpose.isReached">
            <div class="col m8">
                <h6 class="collapsible-title">{{financialPurpose.name}}</h6>
            </div>
            <div class="col m4 right-align">
                <i *ngIf="canChange" class="material-icons right" (click)="delete(financialPurpose)">close</i>
                <span class="secondary-content collapsible-title">${{financialPurpose.budget}}</span>
            </div>
        </div>
        <div class="collapsible-body">
            <div *ngIf="financialPurpose.description != null" [froalaView]="financialPurpose.description"></div>
            <p *ngIf="financialPurpose.description == null">No description</p>
        </div>
    </li>
</ul>
