<errorpage *ngIf="!isConfirmedUser"></errorpage>
<div *ngIf="isConfirmedUser">
    <h4>Create a new project</h4>

    <div class="input-field">
        <input id="project-name" #name="ngModel" class="validate" required [(ngModel)]="projectForm.name" type="text" />
        <label for="project-name">Name</label>
    </div>
    
    <markdowneditor [fieldName]="'Description'" (onChanged)="projectForm.description = $event"></markdowneditor>

    <errortext *ngIf="isWrongRequest" [text]="'Mistake, the project has not been created'"></errortext>
</div>