<div class="card small">
    <div class="card-image">
        <a href="/ProjectPage/{{project.id}}">
            <img src="{{project.imageUrl}}">
            <div class="card-title">
                {{project.name}}<br/>
                <rating class="project-item-rating" [(ngModel)]="project.rating" [readonly]="true" [titles]="['one', 'two', 'three', 'four', 'five']"></rating>
            </div>
        </a>
    </div>
    <projectprogress [neccessaryAmount]="project.neccessaryAmount" [paidAmount]="project.paidAmount"></projectprogress>
    <div class="card-content row">
        <div class="col m6">
            <p>${{project.paidAmount}}</p>
        </div>
        <div class="col m6 right-align">
            <p><projectstatus [status]="project.status"></projectstatus></p>
        </div>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
        <markdown>{{project.description}}</markdown>
    </div>
    <div class="card-action">
        <ng-container *ngIf="storage.isReadyCurrentUser && storage.isUser && storage.currentUser.userName != project.ownerUserName">
            <button *ngIf="!project.isSubscriber" (click)="subscribe()" class="btn left">Subscribe</button>
            <button *ngIf="project.isSubscriber" (click)="unsubscribe()" class="btn left">Unsubscribe</button>
        </ng-container>
        <a><i class="material-icons right activator">more_vert</i></a>
        <ng-container *ngIf="storage.isReadyCurrentUser && (storage.isUser && storage.currentUser.userName == project.ownerUserName || storage.isAdmin)">
            <a href="/ProjectEditorPage/{{project.id}}" class="right"><i class="material-icons">edit</i></a>
            <a (click)="openNews()" href="#newsModal" class="modal-trigger right"><i class="material-icons">library_books</i></a>
        </ng-container>
        <a *ngIf="storage.isReadyCurrentUser && storage.isUser && timeService.isNotPast(project.projectEndTime)" 
           class="modal-trigger" (click)="openPayment()" href="#paymentModal">
            <i class="material-icons right">payment</i>
        </a>
    </div>
</div>