<div id="accountEditModal" class="modal edit-modal">
    <div class="modal-content center container">
        <h4>{{translations['EDITACCOUNT']}}</h4>
        <div class="input-field">
            <textarea id="contactsText" class="materialize-textarea" [(ngModel)]="contacts"></textarea>
            <label class="active" for="contactsText">{{translations['CONTACTS']}}</label>
        </div>
        <markdowneditor class="active" [fieldName]="translations['ABOUT']" (onChanged)="about = $event" [text]="about"></markdowneditor>
        <div class="col m6 input-field right-align">
            <button class="btn btn-large" (click)="onSubmit()">{{translations['APPLY']}}</button>
        </div>
    </div>
</div>