<div id="accountEditModal" class="modal edit-modal">
    <div class="modal-content center container">
        <h4>Edit your account description.</h4>
        <div class="input-field">
            <textarea id="contactsText" class="materialize-textarea" [(ngModel)]="contacts"></textarea>
            <label class="active" for="contactsText">Contacts</label>
        </div>
        <markdowneditor class="active" [fieldName]="'About'" (onChanged)="about = $event" [text]="about"></markdowneditor>
        <div class="col m6 input-field right-align">
            <button class="btn btn-large" (click)="onSubmit()">Apply</button>
        </div>
    </div>
</div>