<div class="card horizontal">
    <div class="card-image">
        <img *ngIf="displayableInfo.avatar != null" src="{{displayableInfo.avatar}}">
        <img *ngIf="displayableInfo.avatar == null" src="http://res.cloudinary.com/duoun8bcf/image/upload/v1505560636/anonymous_ox6a5r.png"/>
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <ul>
                <li>Username: {{displayableInfo.userName}}</li>
                <li>Registered: {{displayableInfo.registrationTime}}</li>
                <li>Projects created: {{displayableInfo.projectNumber}}</li>
                <li>About: {{displayableInfo.about}}</li>
            </ul>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>
