@{
    ViewData["Title"] = "Admin zone";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@*<app>Loading...</app>

<script src="~/dist/polyfills.js"></script>
<script src="~/dist/vendor.js"></script>
<script src="~/dist/app.js"></script>*@