<errorpage *ngIf="storage.isReadyCurrentUser && !storage.isUser"></errorpage>
<div class="container body-content">
    <div *ngIf="storage.isReadyCurrentUser && storage.isUser && isInitialized">
        <h2 class="center-align" *ngIf="currentUserName === ownerUserName">{{translations['MyPage']}}</h2>
        <h2 class="center-align" *ngIf="currentUserName !== ownerUserName">{{translations['USERPAGE']}} {{ownerUserName}}</h2>
        <div class="col s12 m10">
            <usercard [displayableInfo]="displayableInfo" [isCardOfCurrentUser]="currentUserName === ownerUserName"
                      (onAccountEdit)="updateAccout($event)"></usercard>
        </div>
        <accounteditmodal [about]="accountEditForm.about" [contacts]="accountEditForm.contacts"
                          (onConfirm)="updateAccount($event)"></accounteditmodal>
        <avatarchangemodal *ngIf="storage.isReadyCurrentUser && storage.isUser" (onConfirm)="updateAvatar($event)"></avatarchangemodal>
        <div>
            <h3 class="center-align" *ngIf="currentUserName === ownerUserName">{{translations['MYPROJECTS']}}</h3>
            <a href="#confirmationModal" class="modal-trigger" *ngIf="currentUserName === ownerUserName && storage.isJustUser">{{translations['CONFIRMACCOUNTNOW']}}</a>
            <h3 class="center-align" *ngIf="currentUserName !== ownerUserName">{{translations['USERPROJECTS']}} {{ownerUserName}}</h3>    
            <projectitemcollection [projects]="userProjects" (selectedProjectIdNews)="this.selectedProjectId = $event" (selectedProjectIdPayment)="this.selectedProjectId = $event"></projectitemcollection>
        </div>
        <div>
            <h3 class="center-align" *ngIf="currentUserName === ownerUserName">{{translations['MYSUBSCRIPTIONS']}}</h3>
            <h3 class="center-align" *ngIf="currentUserName !== ownerUserName">{{translations['USERSUBSCRIPTIONS']}} {{ownerUserName}}</h3>
            <projectitemcollection [projects]="userSubscribedProjects" (selectedProjectIdNews)="this.selectedProjectId = $event" (selectedProjectIdPayment)="this.selectedProjectId = $event"></projectitemcollection>
        </div>
    </div>
    <newsformmodal [projectId]="selectedProjectId"></newsformmodal>
    <paymentmodal [projectId]="selectedProjectId"></paymentmodal>
</div>