<errorpage *ngIf="storage.isReadyCurrentUser && !storage.isUser"></errorpage>

<div *ngIf="storage.isReadyCurrentUser && storage.isUser && isInitialized">
    <h2 *ngIf="currentUserName === ownerUserName">My page</h2>
    <h2 *ngIf="currentUserName !== ownerUserName">{{ownerUserName}}'s page</h2>
    <div class="col s12 m7">
        <usercard [displayableInfo]="displayableInfo" [isCardOfCurrentUser]="currentUserName === ownerUserName"
                  (onAccountEdit)="updateAccout($event)"></usercard>
    </div>
    <accounteditmodal [about]="accountEditForm.about" [contacts]="accountEditForm.contacts"
                      (onConfirm)="updateAccount($event)"></accounteditmodal>
    <avatarchangemodal *ngIf="storage.isReadyCurrentUser && storage.isUser" (onConfirm)="updateAvatar($event)"></avatarchangemodal>
    <div>
        <h3 *ngIf="currentUserName === ownerUserName">My projects</h3>
        <a href="#confirmationModal" class="modal-trigger" *ngIf="currentUserName === ownerUserName && storage.isJustUser">Confirm your account now to create projects.</a>
        <h3 *ngIf="currentUserName !== ownerUserName">{{ownerUserName}}'s projects</h3>
        <div class="row">
            <div class="col m4" *ngFor="let project of userProjects">
                <projectitem [project]="project" (onClickNews)="openNewsModal($event)" (onClickPay)="openPayment($event)"
                             (onClickSubscribe)="subscribe($event)" (onClickUnsubscribe)="unsubscribe($event)"></projectitem>
            </div>
        </div>
    </div>
    <div>
        <h3 *ngIf="currentUserName === ownerUserName">My subscriptions</h3>
        <h3 *ngIf="currentUserName !== ownerUserName">{{ownerUserName}}'s subscriptions</h3>
        <div class="row">
            <div class="col m4" *ngFor="let project of userSubscribedProjects">
                <projectitem [project]="project" (onClickNews)="openNewsModal($event)" (onClickPay)="openPayment($event)"
                             (onClickSubscribe)="subscribe($event)" (onClickUnsubscribe)="unsubscribe($event)"></projectitem>
            </div>
        </div>
    </div>
    <newsformmodal [projectId]="selectedProjectId"></newsformmodal>
    <paymentmodal [projectId]="selectedProjectId"></paymentmodal>
</div>