<li><a *ngIf="storage.isReadyCurrentUser && storage.isUser" href="/UserPage">My page</a></li>
<li><a *ngIf="storage.isReadyCurrentUser && storage.isAdmin" href="/AdminPage">Admin page</a></li>

<ng-container *ngIf="storage.isReadyCurrentUser && storage.isUser">
    <li>Hello {{storage.currentUser.userName}}!</li>
    <li *ngIf="storage.isJustUser"><a href="#confirmationModal" class="modal-trigger"> Confirm your account </a></li>
    <li><a (click)="logout()">Log out</a></li>
</ng-container>

<ng-container *ngIf="storage.isReadyCurrentUser && !storage.isUser">
    <li><a href="#registrationModal" class="modal-trigger">Register</a></li>
    <li><a href="#loginModal" class="modal-trigger">Log in</a></li>
</ng-container>   