<div class="homepage">
    <div class="parallax-container">
        <div class="parallax" materialize="parallax">
            <img src="https://pp.userapi.com/c543108/v543108795/294a6/cnFAJzUkjKM.jpg">
        </div>
        <div class="parallax-header header center white-text">
            <h1>{{translations['STARTPROJECT']}}</h1>
            <h5 class="light">Данный текст описывает, как тут все замечательно. Ну или что-нибудь еще</h5>
        </div>
    </div>

    <div class="section display">
        <div class="icon-block center container row">
            <h5><i class="material-icons">collections</i>{{translations['LASTPROJECTS']}}</h5>
            <div class="row">
                <div *ngFor="let project of lastCreatedProjects" class="col m3">
                    <projectitem [project]="project" (onClickNews)="openNewsModal($event)" (onClickPay)="openPayment($event)"
                                 (onClickSubscribe)="subscribe($event)" (onClickUnsubscribe)="unsubscribe($event)"></projectitem>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax" materialize="parallax">
            <img src="https://pp.userapi.com/c543108/v543108795/294af/Lt0cMfZ36rA.jpg">
        </div>
        <div class="center">
            <tagcloud></tagcloud>
        </div>
    </div>

    <div class="section display">
        <div class="container icon-block center">
            <h5><i class="material-icons">payment</i>{{translations['BIGGESTPAYMENTS']}}</h5>
            <div class="row">
                <div *ngFor="let payment of bigPayments" class="col m3">
                    <payment [payment]="payment"></payment>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax" materialize="parallax">
            <img src="https://pp.userapi.com/c543108/v543108795/294e5/L3P-K_B8gME.jpg">
        </div>
        <div class="parallax-header header center white-text">
            <h2>Воодушевляющий заголовок</h2>
            <h5 class="light">Воодушевляющий текст</h5>
        </div>
    </div>

    <div class="section display">
        <div class="icon-block center container row">
            <h5><i class="material-icons">collections</i> {{translations['SUCCESSFULPROJECTS']}}</h5>
            <div class="row">
                <div *ngFor="let project of financedProjects" class="col m3">
                    <projectitem [project]="project" (onClickNews)="openNewsModal($event)" (onClickPay)="openPayment($event)"
                                 (onClickSubscribe)="subscribe($event)" (onClickUnsubscribe)="unsubscribe($event)"></projectitem>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax" materialize="parallax">
            <img src="https://pp.userapi.com/c543108/v543108795/2949d/zQEJm1Yqfwk.jpg">
        </div>
        <div class="parallax-header header center white-text">
            <h2>Еще заголовок</h2>
            <h5 class="light">блаблабла</h5>
        </div>
    </div>

    <div class="section display">
        <div class="container">
            <div class="icon-block center row">
                <h5><i class="material-icons">public</i> {{translations['LATESTNEWS']}}</h5>
                <news [someNews]="lastNews" [canChange]="false"></news>
            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax" materialize="parallax">
            <img src="https://pp.userapi.com/c543108/v543108795/294dc/eDN09FCa4bg.jpg">
        </div>
        <div class="parallax-header header center white-text">
            <h2>{{translations['ABOUTUS']}}</h2>
            <h5 class="light">Авторы сайта - няшечки</h5>
        </div>
    </div>

    <newsformmodal [projectId]="selectedProjectId"></newsformmodal>
    <paymentmodal [projectId]="selectedProjectId"></paymentmodal>
</div>
