<errorpage *ngIf="storage.isReadyCurrentUser && !(storage.isConfirmedUser && (isNewProject || storage.currentUser.userName === projectForm.ownerUserName))"></errorpage>
<div class="container body-content" *ngIf="storage.isReadyCurrentUser && storage.isConfirmedUser && (isNewProject || storage.currentUser.userName === projectForm.ownerUserName)">
    <div class="row">
        <br />
        <h2 class="center-align col m12">
            <span *ngIf="isNewProject">{{translations['CREATENEWPROJECT']}}</span>
            <span *ngIf="!isNewProject">{{translations['EDITPROJECT']}}</span>
        </h2>
    </div>

    <div class="row">
        <div class="col m9">
            <h5 class="center-align">{{translations['DESCR']}}</h5>
            <div class="card-panel">
                <div class="row">
                    <div class="col m6">
                        <div class="input-field">
                            <input id="project-name" #projectname="ngModel" class="validate" required [(ngModel)]="projectForm.name" type="text" />
                            <label for="project-name">{{translations['NAME']}}</label>
                        </div>
                    </div>
                    <div class="col m6" *ngIf="isNewProject">
                        <div class="input-field">
                            <input id="project-id" #projectId="ngModel" class="validate" [(ngModel)]="projectForm.id" type="text" />
                            <label for="project-id">{{translations['PATH']}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6">
                        <imageloader id="project-image" [isShowed]="false" (emitter)="projectForm.imageBase64 = $event" [fieldName]="translations['IMAGE']"></imageloader>
                    </div>
                    <div class="col m6">
                        <div class="input-field">
                            <input [(colorPicker)]="projectForm.color" [style.background]="projectForm.color" id="project-color" />
                            <label for="project-color">Main color of your project page</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12">
                        <markdowneditor [fieldName]="translations['DESCR']" [text]="projectForm.description" (onChanged)="projectForm.description = $event"></markdowneditor>
                    </div>
                </div>
            </div>
            <br />
            <h5 class="center-align">Платежи</h5>
            <div class="card-panel">
                <div class="row">
                    <div class="col m6">
                        <div class="input-field">
                            <input id="project-datepicker" #projectdate="ngModel" name="datepicker" [(ngModel)]="projectForm.fundRaisingEnd" required materialize="pickadate"
                                   type="text" [materializeParams]="[{format: 'dd/mm/yyyy'}]" />
                            <label for="project-datepicker">{{translations['FUNDRAISINGEND']}}</label>
                        </div>
                    </div>
                    <div class="col m6">
                        <div class="input-field">
                            <input id="project-accountnumber" #projectAccountNumber="ngModel" class="validate" required
                                   [(ngModel)]="projectForm.accountNumber" type="text" />
                            <label for="project-accountnumber">Account number</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6">
                        <div class="input-field">
                            <input id="project-minpayment" #projectMinPayment="ngModel" class="validate" required [(ngModel)]="projectForm.minPaymentAmount" type="number" />
                            <label for="project-minpayment">{{translations['MINPAYMENT']}}, $</label>
                        </div>
                    </div>
                    <div class="col m6">
                        <div class="input-field">
                            <input id="project-maxpayment" #projectMaxPayment="ngModel" class="validate" required [(ngModel)]="projectForm.maxPaymentAmount" type="number" />
                            <label for="project-maxpayment">{{translations['MAXPAYMENT']}}, $</label>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="center-align col m4 offset-m4">
                    <h5 class="left">{{translations['FINANCIALPURPOSES']}}    </h5>
                    <a href="#financialPurposeModal" class="btn modal-trigger btn-icon right-align"><i class="material-icons">add</i></a>
                </div>
            </div>
            <div class="row">
                <financialpurposes *ngIf="projectForm.financialPurposes.length >= 1" [(financialPurposes)]="projectForm.financialPurposes" [canChange]="true"></financialpurposes>
            </div>
            <financialpurposemodal (onCreated)="addFinancialPurpose($event)"></financialpurposemodal>
        </div>
        <div class="col m3">
            <h5 class="center-align">Карточка проекта</h5>
            <div class="card small">
                <div class="card-image">
                    <img src="{{projectForm.imageBase64}}">
                    <div class="card-title left-align">
                        {{projectForm.name}}<br />
                        <rating class="project-item-rating" [ngModel]="0" [readonly]="true"
                                [titles]="[translations['ONE'], translations['TWO'], translations['THREE'], translations['FOUR'], translations['FIVE']]"></rating>
                    </div>
                </div>
                <projectprogress [neccessaryAmount]="100" [paidAmount]="0"></projectprogress>
                <div class="card-content row">
                    <div class="col m4 left-align"><p>$0</p></div>
                    <div class="col m8 right-align"><p><projectstatus [status]="0"></projectstatus></p></div>
                </div>
                <div class="card-reveal left-align">
                    <span class="card-title grey-text text-darken-4">{{translations['ABOUT']}}<i class="material-icons right">close</i></span>
                    <div [froalaView]="projectForm.description"></div>
                </div>
                <div class="card-action actions row">
                    <div class="col m4 left-align">
                        <a class="action"><i class="material-icons activator">more_vert</i></a>
                        <a class="action"><i class="material-icons">payment</i></a>
                    </div>
                    <div class="col m4 center-align">
                        <a class="action"><i class="material-icons activator">notifications</i></a>
                    </div>
                    <div class="col m4 right-align">
                        <a class="action"><i class="material-icons">edit</i></a>
                        <a class="action"><i class="material-icons">library_books</i></a>
                    </div>
                </div>
            </div>
            <tagsearcher [(data)]="projectForm.tags"></tagsearcher>
            <div class="row">
                <div class="col m12 center-align">
                    <div class="input-field">
                        <button *ngIf="!isWorking" class="btn btn-large" (click)="onSubmit()"
                                [disabled]="projectname.invalid || projectdate.invalid || projectAccountNumber.invalid || projectMinPayment.invalid || projectMaxPayment.invalid || projectForm.financialPurposes.length < 1 || projectForm.imageBase64 == null || projectForm.minPaymentAmount > projectForm.maxPaymentAmount">
                            <span *ngIf="isNewProject">{{translations['CREATE']}}</span>
                            <span *ngIf="!isNewProject">{{translations['EDIT']}}</span>
                        </button>
                        <preloader *ngIf="isWorking"></preloader>
                    </div>
                    <div *ngIf="!isNewProject" class="input-field">
                        <a class="btn btn-large" href="/ProjectPage/{{projectForm.id}}">
                            {{translations['TOPROJECTPAGE']}}
                        </a>
                    </div>
                    <errortext *ngIf="isWrongRequest" [text]="translations['PROJECTERROR']"></errortext>
                </div>
            </div>
        </div>
    </div>
</div>

